body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*margin-bottom: 20px;*/
}

.tcet {
    width: 100%;
    margin-bottom: 6px;
}

article {
    background-color: #fff;
    width: 35%;
    max-width: 800px;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.order {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
}

.row label {
    margin-right: 10px;
    font-weight: bold;
}

.row .year {
    margin: 10px 0;
}

.row input[type="text"], .row select {
    flex: 1;
    margin-left: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    margin-left: 10px;
}

.order div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.order div label {
    margin-right: 10px;
}

#food-items {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.food-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

input[type="text"], select, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    /*margin-top: 20px;*/
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
